<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found</h1>
    <p>The page you're looking for does not exist.</p>
  </body>
</html>
